/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.form-container, .list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del formulario */
.form-container h2 {
    margin-bottom: 10px;
}

#formulario-alumno input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#formulario-alumno button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#formulario-alumno button:hover {
    background-color: #555;
}

/* Estilos de la lista de alumnos */
.list-container h2 {
    margin-bottom: 10px;
}

#lista-alumnos {
    list-style-type: none;
    padding: 0;
}

.alumno-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.alumno-item:hover {
    background-color: #eaeaea;
}
